<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <script>
      let user = JSON.parse(localStorage.getItem('user'))
      
      if(!user){
        location.assign('/login')
      }
  </script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.1/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <style>
    .like-bg {
      background: #f7e1d0;
    }

    .bottom-icon-active {
      color: #dea694;
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body class="bg-gray-700">
  <div id="app">
        <div id="navbar" class="fixed z-50 w-full h-10 bg-gray-900 top-0 left-0 flex items-center justify-between px-4 border-b border-gray-700">
      <div class="flex align-center gap-3">
        <div class="avatar" :class="{online : status}">
          <div class="w-8 h-8 rounded-full">
            <img loading='lazy' id="avatarButton" type="button" class="w-full h-full rounded-full cursor-pointer" :src="user.profile" alt="User dropdown" data-drawer-target="drawer-disable-body-scrolling" data-drawer-show="drawer-disable-body-scrolling" data-drawer-body-scrolling="false" aria-controls="drawer-disable-body-scrolling">
          </div>
        </div>
  <!-- drawer component -->
      <div id="drawer-disable-body-scrolling" class="fixed top-0 left-0 z-50 h-screen p-4 overflow-y-auto transition-transform -translate-x-full w-5/6 bg-gray-900" tabindex="-1" aria-labelledby="drawer-disable-body-scrolling-label">
       <div class="overflow-y-auto">
        <div class="flex items-start justify-between">
          <img :src="user.profile" class="w-16 h-16 rounded-full" />
          <div>
            <div class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center text-white">En</div>

          </div>
        </div>
        <div class="flex items-center justify-between w-full text-2xl my-1.5">
          <h1 class="text-white text-xl font-bold">{{user.name}}</h1>
          <a href='/profile' class='bx bxs-chevron-right text-white'></a>
        </div>
        <hr>
        <ul class="space-y-2 py-2 font-medium">
          <li>
            <a href="#" class="flex items-center rounded-lg text-white">
              <i class="bx bx-bookmark text-lg"></i>
              <span class="ml-1.5">Bookmarks</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center rounded-lg text-white">
              <i class="bx bx-bell text-lg"></i>
              <span class="ml-1.5">Notification</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center rounded-lg text-white">
              <i class="bx bx-tv text-lg"></i>
              <span class="ml-1.5">Videos</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center rounded-lg text-white">
              <i class="bx bx-tv text-lg"></i>
              <span class="ml-1.5">Stories</span>
            </a>
          </li>
        </ul>
        <hr>
        <div class="text-white w-full flex items-center justify-between absolute bottom-0 left-0 p-4">
          <div class="flex items-center gap-2">
            <i class="bx bx-cog text-lg" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start"></i>
            <span class="ml-1.5">settings</span>
            <div id="userDropdown" class="z-10 hidden bg-gray-700 divide-y divide-gray-600 rounded-lg shadow w-44">
              <ul class="py-2 text-sm text-gray-300">
                <li class="flex items-center justify-between px-2 mb-3">
                  <span class="block">Active status</span>
                  <input type="checkbox" class="toggle toggle-success toggle-sm" :checked='status' @click='online'/>
                </li>
                <li class="flex items-center justify-between px-2 mb-3">
                  <span class="block">Bottom Navbar</span>
                  <input type="checkbox" class="toggle toggle-success toggle-sm" :checked='bottomNav' @click='showBottomNav'/>
                </li>
                <li class="flex items-center justify-between px-2">
                  <span class="block">Dark mode</span>
                  <input type="checkbox" class="toggle toggle-success toggle-sm" />
                </li>
              </ul>
            </div>
          </div>
          <div class="flex items-center gap-2" @click='logout'>
            <span class="ml-1.5">log out</span>
            <i class="bx bx-log-out text-lg"></i>
          </div>
        </div>
      </div>
    </div>

        
        <h1 class="text-xl text-white">Home</h1>
      </div>
      <div class="flex align-center gap-3">
        <i class="bx bx-search text-white text-2xl"></i>
        <i class='bx bx-plus-circle text-white text-2xl'></i>
      </div>
     </div>

    <div class="bg-gray-900 px-4 py-2 mt-10 flex items-center justify-between gap-3">
      <a href="/post" class="flex items-center gap-3">
        <img :src="user.profile" class="h-10 w-10 rounded-lg" />
        <h1 class="text-gray-300 font-bold text-md">What's on your mind?</h1>
      </a>
      <div class="flex -space-x-4">
        <img v-for='story in stories' :src="story.image" class="w-10 h-10 border-2 border-purple-900 rounded-full" />
        <div class="w-10 h-10 border-2 border-purple-900 rounded-full bg-gray-700 text-white flex items-center justify-center">+{{stories.length}}</div>
      </div>
    </div>

    
    <div v-if='loading' role="status" class="py-0.5 posts animate-pulse">
      <div v-for='loadingpost in loadingposts' class="post border-b mb-1">
        <div class="px-4 py-4 bg-gray-900 shadow max-w-lg">
          <div class="flex justify-start gap-3 mb-2">
            <div class="h-12 w-12 rounded-lg bg-gray-700"></div>
            <div class="flex-1">
              <div class="mt-1">
                <p class="bg-gray-700 rounded-md h-3 w-full"></p>
                <p class="bg-gray-700 rounded-lg  w-1/2 h-2 mt-1.5"></p>
              </div>
              <p class="bg-gray-700 h-1.5 w-full mt-2 rounded-lg"></p>
              <p class="bg-gray-700 h-1.5 w-2/3 mt-2 rounded-lg"></p>
              <div class="mt-2">
                <div class="flex items-center justify-center w-full h-48 rounded sm:w-96 bg-gray-700">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    <div v-else class="py-0.5 posts">
      <div v-for="post in posts" class="post mb-1 border-b" v-show="post.type === 'public'">
        <div class="px-4 py-2 bg-gray-900 shadow max-w-lg">
          <div class="flex justify-start gap-3 mb-2">
            <img loading='lazy' class="w-10 h-10 rounded-lg" :src="post.profile" />
            <div class="flex-1">
              <div class="flex items-center">
                <div class="mt-0.5">
                  <span class="block font-medium text-base leading-snug text-gray-300 dark:text-gray-100">{{post.name}}</span>
                  <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug flex items-center gap-2.5">{{post.date}} <i class='bx bx-world'></i></span>
                </div>
                <div class="flex-1 text-right">
                  <i class='bx bx-bookmarks text-xl text-gray-500' @click='toastNotShow'></i>
                </div>
              </div>
              <p class="text-gray-300 dark:text-gray-100 leading-snug md:leading-normal mt-3">{{post.message}}</p>
              <div class="mt-2">
                <video controls v-if="post.postUrlType.includes('video')" :src="post.postUrl" class="rounded w-full h-auto dynamic-video" :data-group="post.id"></video>
                <img loading='lazy' v-if="post.postUrlType.includes('image')" :src="post.postUrl" class="rounded w-full h-auto" @dblclick="toggleLike(post)" />
              </div>
              <div class="flex gap-3 items-center justify-between mt-3">
                <div @click="toggleLike(post)" class="flex items-center gap-1">
                  <i class="bx text-xl text-rose-400" :class="[post.likes.includes(user.email) ? 'bxs-heart':'bx-heart']"></i>
                  <span class="text-sm text-white countdown">
                    <span :style="{ '--value': post.likes.length }"></span>
                  </span>
                </div>
                <div class="flex items-center gap-1" @click='commentPost(post)'>
                  <i class="bx bx-message-rounded text-xl text-gray-500"></i>
                  <span class="text-sm text-white">{{post.comments.length}}</span>
                </div>
                  <div class="flex items-center gap-1.5" @click='commentPost(post)'>
                  <i class="bx bx-bar-chart text-xl text-gray-500"></i>
                  <span class="text-sm text-white">{{post.view.length}}</span>
                  </div>
                <div class="flex items-center gap-1.5" @click="sharePost(post)">
                     <i class="bx bx-share-alt text-xl text-gray-500"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--toast notice-->
  <div :class='{hidden : !toast}' class="fixed bottom-20 x-50 left-1/2 -translate-x-1/2 flex items-center justify-between w-80 p-4 space-x-4 divide-x  rounded-lg shadow text-gray-400 divide-gray-700 space-x bg-gray-800">
    <i class="bx bx-bookmark"></i>
    <div class="pl-4 flex-1 text-sm font-normal">post saved successfully.</div>
    <i class="pl-4 text-xl bx bx-x" @click="toastNotClc"></i>
  </div>



    <div v-show='bottomNav' class="h-14"></div>
    <div v-show='bottomNav' class="fixed z-40 w-full h-14 max-w-lg -translate-x-1/2 bg-gray-900 bottom-0 left-1/2">
      <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <button type="button" class="flex items-center justify-center">
          <i class="bx bxs-home text-3xl bottom-icon-active"></i>
        </button>
        <button type="button" class=" flex items-center justify-center">
          <i class='bx bx-bell text-3xl text-gray-500'></i>
        </button>
         <button type="button" class="flex items-center justify-center">
         <a href='/stories'> <i class='bx bxs-carousel text-3xl text-gray-500'></i></a>
         </button>
        <button type="button" class="flex items-center justify-center">
         <a href='/videos'> <i class='bx bxs-videos text-3xl text-gray-500'></i></a>
        </button>
        <button type="button" class="flex items-center justify-center">
          <a href='/profile'> <i class='bx bxs-user text-3xl text-gray-500'></i></a>
        </button>
      </div>
    </div>




  </div>


  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

  <script type='module'>
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
    import { getFirestore, collection, addDoc, updateDoc, doc, arrayUnion, arrayRemove, onSnapshot, deleteDoc } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-firestore.js";
    const firebaseConfig = {
      apiKey: "AIzaSyDppLDCOXQE5zjyS_KaJ6-k1-jyS6qSRzM",
      authDomain: "upload-bf997.firebaseapp.com",
      projectId: "upload-bf997",
      storageBucket: "upload-bf997.appspot.com",
      messagingSenderId: "697464098245",
      appId: "1:697464098245:web:db49912b77afda789ccfac"
    };
    const fbApp = initializeApp(firebaseConfig);
    const db = getFirestore(fbApp);
    const app = Vue.createApp({
      data() {
        return {
          user: {},
          loading: true,
          loadingposts:[1,2,3,4,5,6,7,8,9,10],
          posts: [],
          inpText: '',
          status: navigator.onLine,
          audio: new Audio(),
          stories:[],
          toast: false,
          bottomNav: true
        }
      },
      methods: {
        fetcher() {
          onSnapshot(collection(db, "posts"), (snapshot) =>{
            this.posts = snapshot.docs.map((doc) => {
              return {
                id: doc.id,
                ...doc.data(),
                date: this.formetDate(doc.data().date + ' ' + doc.data().time)
              }
            })
            this.loading = false
          });
        },
        toastNotClc(){
          this.toast = false
        },
        toastNotShow(){
          this.toast = true
        },
        getStory() {
          onSnapshot(collection(db, "stories"), (snapshot) => {
            this.stories = snapshot.docs.map((doc) => {
              return {
                id: doc.id,
                ...doc.data()
              }
            })

            console.log(this.stories)
          });
        },
        formetDate(d) {
          let date = new Date(d).toUTCString()
          let momentDate = moment(date);
          let relativeTime = momentDate.fromNow();
          return relativeTime
        },
        showBottomNav(){
          this.bottomNav = !this.bottomNav
          localStorage.setItem('bottomNav', this.bottomNav);
        },
        online(){
          this.status = !this.status
        },
        toggleLike({ id, likes }) {
          const docRef = doc(db, "posts", id);
          updateDoc(docRef, {
              likes: likes.includes(this.user.email) ? arrayRemove(this.user.email) : arrayUnion(this.user.email)
            })
            .then(docRef => {
              this.audio.play()
              console.log("A New Document Field has been added to an existing document");
            })
            .catch(error => {
              console.log(error);
            })
        },
        deletePost(id) {
          const docRef = doc(db, "posts", id);

          deleteDoc(docRef)
            .then(() => {
              console.log("Entire Document has been deleted successfully.")
            })
            .catch(error => {
              console.log(error);
            })
        },
        commentPost({ id }) {
          localStorage.setItem('postId', id)
          location.assign('/viewpost');
        },

        sharePost({ message }) {
          if (navigator.share) {
            navigator.share({
                title: 'friendbook',
                text: message,
                url: location.href,
              })
              .then(() => console.log('Successful share'))
              .catch((error) => console.log('Error sharing', error));
          }
        },
        logout(){
          localStorage.removeItem('user')
          location.assign('/login')
        },
        
      },
      created() {
      setTimeout(() => { this.toast = false } , 5000);
      },
      mounted() {
        this.user = JSON.parse(localStorage.getItem('user'))
        this.audio.src = 'https://alsaifdev.github.io/src/facebook-like.mp3';
        this.fetcher()
        this.getStory()
        this.bottomNav = localStorage.getItem('bottomNav')
      },
      
    })

    app.mount('#app')
  </script>

  <script src="src/index.js"></script>
</body>

</html>
