<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>post page</title>
  <!-- <script>
    let user = JSON.parse(localStorage.getItem('user'))

    if (!user) {
      location.assign('/login')
    }
  </script>-->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.1/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <style>
    .chat-details p {
      white-space: pre-wrap;
      font-size: 1.05rem;
      word-break: break-word;
    }
  </style>
</head>

<body class="bg-gray-900 h-screen">
  <div id="app">
    <div id="navbar" class=" z-50 w-full h-16 bg-gray-900 top-0 left-0 flex items-center justify-between px-4 border-b border-gray-700">
      <a href="/" class="text-3xl font-bold text-white h-10 w-10 rounded-full flex items-center justify-center">
        <i class='bx bx-x'></i>
      </a>
      <div>
        <button @click="addPost" type="button" class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-0">Post</button>
      </div>
    </div>

    <div id="drawer-swipe" class="bg-gray-900">
      <div class="p-4 cursor-pointer flex justify-between items-center">
        <div class="flex mb-2">
          <img class="w-12 h-12 rounded-full" id="profileImg" />
          <div class="ml-2 mt-0">
            <span class="block font-medium text-base leading-snug text-gray-300 dark:text-gray-100" id="profileName"></span>
            <select v-model="type" class="bg-gray-700 text-gray-200 text-sm rounded-lg focus:ring-0 focus:border-0 block w-full p-1">
              <option value="public">Public</option>
              <option value="onlyme">Only me</option>
              <option value="friends">friends</option>

            </select>
          </div>
        </div>


      </div>
      <div class="p-2">
        <textarea ref="message" class="block p-2 w-full text-md text-gray-200 border-0 focus:ring-0 focus:border-0 bg-gray-900" placeholder="what's on your mind?" v-model="message">
      </textarea>

        <div class="w-full h-80" ref="imageArea">
        </div>
        <div class="p-2" v-show="emojiShow">
          <div class="bg-gray-800 grid grid-cols-7 rounded-md">
            <span class="text-xl text-center py-2" v-for="emoji in emojis" @click="picker">
              {{String.fromCodePoint(emoji)}}
            </span>
          </div>
        </div>
        <div class="w-96 fixed bottom-6 left-5 p-2 flex gap-2 items-center text-white bg-gray-800 shadow-xl rounded-md">
          <!-- <div class="absolute top-0 left-0 right-0 w-1/2 h-full bg-blue-800 opacity-50 rounded-md"></div>-->
          <div class="h-10 px-3 bg-blue-800 flex justify-center items-center gap-2 rounded-md text-lg font-bold">
            <i class='bx bxs-image-alt' @click="imageSlt"></i>
            <input ref="imageSlt" type="file" @change="imgPicker" accept="image/*" hidden />
          </div>
          <div class="h-10 px-3 bg-blue-800 flex justify-center items-center gap-2 rounded-md text-lg font-bold">
            <i class='bx bx-video' @click="videoSlt"></i>
            <input ref="videoSlt" type="file" @change="imgPicker" accept="video/*" hidden>
          </div>
          <div class="h-10 px-3 bg-purple-800 flex justify-center items-center gap-2 rounded-md text-lg font-bold">
            <i class='bx bx-camera' @click="cameraSlt"></i>
            <input ref="cameraSlt" type="file" @change="imgPicker" accept="image/*" capture="camera" hidden>
          </div>
          <div class="flex-1 text-right">
            <i class='bx bx-happy-heart-eyes text-gray-600 text-2xl' @click="showEmoji"></i>
          </div>
        </div>

      </div>


    </div>
  </div>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
    import { getStorage, ref, uploadBytesResumable, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-storage.js";
    import { getFirestore, collection, addDoc, onSnapshot } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-firestore.js";
    const firebaseConfig = {
      apiKey: "AIzaSyDppLDCOXQE5zjyS_KaJ6-k1-jyS6qSRzM",
      authDomain: "upload-bf997.firebaseapp.com",
      projectId: "upload-bf997",
      storageBucket: "upload-bf997.appspot.com",
      messagingSenderId: "697464098245",
      appId: "1:697464098245:web:db49912b77afda789ccfac"
    };
    const fbapp = initializeApp(firebaseConfig);
    const storage = getStorage(fbapp);
    const db = getFirestore(fbapp);
    const app = Vue.createApp({
      data() {
        return {
          user: {},
          emojis: [0x1F600, 0x1F604, 0x1F34A, 0x1F344, 0x1F37F, 0x1F363, 0x1F370, 0x1F355,
              0x1F354, 0x1F35F, 0x1F6C0, 0x1F48E, 0x1F5FA, 0x23F0, 0x1F579, 0x1F4DA,
              0x1F431, 0x1F42A, 0x1F439, 0x1F424],
          emojiShow: false,
          message: '',
          type: 'public'
        }
      },
      methods: {
        addStoryBtn() {
          this.$refs.fileInp.click()
        },
        showEmoji() {
          this.emojiShow = !this.emojiShow
        },
        picker(e) {
          let emoji = e.target.innerHTML;
          let textInput = this.$refs.message;
          textInput.value += ' ' + emoji
        },
        imageSlt() {
          this.$refs.imageSlt.click()
        },
        videoSlt() {
          this.$refs.videoSlt.click()
        },
        cameraSlt() {
          this.$refs.cameraSlt.click()
        },
        imgPicker(e) {
          this.file = e.target.files[0];
          let imgurl = URL.createObjectURL(this.file);
          this.$refs.imageArea.classList.replace('h-80', 'h-32')
          this.$refs.imageArea.innerHTML = `
                ${ 
                   this.file.type.includes('image') &&  `<img src="${imgurl}" class="w-full">` ||
                   this.file.type.includes('video') &&  `<video controls src="${imgurl}" class="w-full"></video>`      
                }
                 `;
        },
        addPost() {
          const storageRef = ref(storage, `posts/${this.file.name}`);

          const uploadTask = uploadBytesResumable(storageRef, this.file);

          uploadTask.on('state_changed',
            (snapshot) => {
              console.log('uploading')
            },
            (error) => {
              console.log(error)
            },
            () => {
              getDownloadURL(uploadTask.snapshot.ref).then((downloadURL) => {
                console.log('File available at', downloadURL);
                const dbRef = collection(db, "posts");
                const post = {
                  profile: this.user.profile,
                  name: this.user.name,
                  userId: this.user.id,
                  postUrl: downloadURL,
                  postUrlType: this.file.type,
                  message: this.message,
                  type: this.type,
                  likes: [],
                  comments: [],
                  view: [],
                  date: new Date().toDateString(),
                  time: new Date().toLocaleTimeString()
                }
                addDoc(dbRef, post)
                  .then(docRef => {
                    alert("posted successfully!");
                    location.assign('/')
          
                  })
                  .catch(error => {
                    console.log(error);
                  })

              });
            }
          );
        },
      },
      mounted() {
        this.user = JSON.parse(localStorage.getItem('user'))
      },
    })

    app.mount('#app')
  </script>

  <script src="src/index.js"></script>
</body>

</html>
