<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>profile</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <style>
    .mt-20 {
      margin-top: 40px;
    }

    .bottom-20 {
      bottom: -40px;
    }
  </style>
</head>

<body class="bg-gray-700">
   <div id="app">
  <div id="navbar" class=" z-50 w-full h-16 bg-gray-900 top-0 left-0 flex items-center justify-between px-4 border-b border-gray-700">
    <a href="/" class="text-3xl font-bold text-white h-10 w-10 rounded-full flex items-center justify-center">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <input type="text" id="first_name" class="bg-gray-700 flex-1 border border-gray-300 text-white text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block  p-2.5  h-10 w-36" placeholder="Search.." required>
  </div>

  <div class="w-full shadow bg-gray-900">
    <a class="relative bg-gray-900">
      <img class="w-full h-56 bg-gray-900" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
      <i class="fa-solid fa-camera absolute bottom-5 right-5 bg-gray-400 text-gray-300 w-10 h-10 rounded-full p-3"></i>

      <img class="w-48 h-48 rounded-full absolute  bottom-20 bg-gray-700 p-1.5 left-2" src="https://scontent.fdac147-1.fna.fbcdn.net/v/t39.30808-1/357383094_103341852822441_5658742508842210048_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=105&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=cbqRGi8CiZAAX-C72Tf&_nc_ht=scontent.fdac147-1.fna&oh=00_AfDvDZ7RwWiVMqj8bPOclLtPkCEq5sBQFWpWo4kqcMJPkQ&oe=64D9ACE6" alt="" />

    </a>
    <div class="p-5 mt-20">
      <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-200 dark:text-white">Noteworthy technology</h5>
      </a>
      <div class="flex items-center justify-between gap-3">
        <a class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg gap-3 h-10 flex-1">
          <i class="fa-solid fa-plus"></i>
          Add to story
        </a>
        <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg gap-2 h-10">
          <i class="fa-solid fa-pen"></i>
          Edit profile
        </a>
        <a class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg h-10">
          <i class="fa-solid fa-ellipsis"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="w-full p-4 bg-gray-900 shadow my-2">
    <h1 class="text-2xl text-gray-200 font-bold mb-3">Details</h1>
    <ul class="w-full text-sm font-medium text-gray-400 bg-gray-900">
      <li class="w-full py-2 flex items-center gap-2 text-xl">
        <i class="fa-solid fa-house"></i>Live in Meherpur,Dhaka
      </li>
      <li class="w-full py-2 flex items-center gap-2 text-xl">
        <i class="fa-solid fa-location-dot"></i>From Meherpur,Dhaka
      </li>
      <li class="w-full py-2 flex items-center gap-2 text-xl">
        <i class="fa-solid fa-star"></i>
        Workplace
      </li>
      <li class="w-full py-2 flex items-center gap-2 text-xl">
        <i class="fa-solid fa-ellipsis"></i>
        see your about info
      </li>
    </ul>
    <a class="w-full my-4 inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-blue-600 bg-gray-700 rounded-lg gap-2 h-10">
      Edit profile info
    </a>
  </div>

  <div class="p-4 bg-gray-900">
    <div class="flex justify-between items-start">
      <div>
        <h1 class="text-2xl text-gray-200 font-bold">Friends</h1>
        <h1 class="text-md text-gray-500 font-bold mb-3">50 Friends</h1>
      </div>
      <h1 class="text-md text-blue-600 font-bold mb-3">Find Friend</h1>
    </div>
    <div class="grid grid-cols-3 gap-2">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
        <h1 class="text-md text-gray-500 font-bold my-2">Abir khan</h1>
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
        <h1 class="text-md text-gray-500 font-bold my-2">Abir khan</h1>
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
        <h1 class="text-md text-gray-500 font-bold my-2">Abir khan</h1>
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
        <h1 class="text-md text-gray-500 font-bold my-2">Abir khan</h1>
      </div>
    </div>
    <a class="w-full my-4 inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg gap-2 h-10">
      See all friends
    </a>
  </div>

  <div class="p-4 bg-gray-900 mt-2">
    <div class="flex justify-between items-start">
      <h1 class="text-2xl text-gray-200 font-bold">Posts</h1>
      <h1 class="text-md text-blue-600 font-bold mb-3">Filter</h1>
    </div>
    <div class="w-full flex items-center justify-between pb-2 border-b border-gray-700 gap-3">
      <img class="w-10 h-10 rounded-full" src="https://scontent.fdac147-1.fna.fbcdn.net/v/t39.30808-1/357383094_103341852822441_5658742508842210048_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=105&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=cbqRGi8CiZAAX-C72Tf&_nc_ht=scontent.fdac147-1.fna&oh=00_AfDvDZ7RwWiVMqj8bPOclLtPkCEq5sBQFWpWo4kqcMJPkQ&oe=64D9ACE6" />
     <a href='/post'> <input type="text" id="first_name" class="flex-1 bg-gray-700 border border-gray-300 text-white text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block  p-2.5  h-10 w-36" placeholder="What's your mind" disabled /></a>
      <i class="fa-solid fa-file-image text-2xl text-blue-400"></i>
    </div>
  </div>


      <div class="py-3 posts">
      <div v-for="post in posts" class="post mb-2">
        <div class="px-4 py-4 bg-gray-900 shadow max-w-lg">
          <div class="flex mb-4">
            <img class="w-12 h-12 rounded-full" :src="post.profile" />
            <div class="ml-2 mt-0.5">
              <span class="block font-medium text-base leading-snug text-gray-300 dark:text-gray-100">{{post.name}}</span>
              <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug">{{post.date}} at {{post.time}}</span>
            </div>
            <div class="flex-1 text-right">
              <i class="fa-solid fa-ellipsis text-2xl text-white" v-bind:data-dropdown-toggle="post.id" data-dropdown-placement="bottom-start"></i>
              <div v-bind:id="post.id" class="z-10 hidden bg-gray-700 divide-y divide-gray-100 rounded-lg  shadow">
                <div class="px-4 py-3 text-sm  text-gray-200">
                  <div @click="deletePost(post.id)">Delete post</div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-gray-300 dark:text-gray-100 leading-snug md:leading-normal">{{post.message}}</p>
          <div class="mt-2">
            <img :src="post.image" class="rounded w-full h-auto" />
          </div>
          <div class="flex justify-between items-center mt-5">
            <div class="flex ">
              <svg class="p-0.5 h-6 w-6 rounded-full z-20 bg-white dark:bg-gray-800 " xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'>
                <defs>
                  <linearGradient id='a1' x1='50%' x2='50%' y1='0%' y2='100%'>
                    <stop offset='0%' stop-color='#18AFFF' />
                    <stop offset='100%' stop-color='#0062DF' />
                  </linearGradient>
                  <filter id='c1' width='118.8%' height='118.8%' x='-9.4%' y='-9.4%' filterUnits='objectBoundingBox'>
                    <feGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1' />
                    <feOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1' />
                    <feComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1' />
                    <feColorMatrix in='shadowInnerInner1' values='0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0' />
                  </filter>
                  <path id='b1' d='M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z' />
                </defs>
                <g fill='none'>
                  <use fill='url(#a1)' xlink:href='#b1' />
                  <use fill='black' filter='url(#c1)' xlink:href='#b1' />
                  <path fill='white' d='M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z' />
                </g>
              </svg>
              <span class="ml-1 text-gray-500 dark:text-gray-400  font-light">{{post.likes.length}}</span>
            </div>
            <div class="ml-1 text-gray-500 dark:text-gray-400 font-light">0 comments</div>
          </div>
          <hr class="bg-gray-800 my-3">
          <div class="flex justify-between items-center px-4">
            <div @click="toggleLike(post)">
              <i v-if="post.likes.includes('alsaif')" class="fa-solid fa-thumbs-up text-2xl text-blue-500"></i>
              <i v-else class="fa-regular fa-thumbs-up text-2xl text-gray-500"></i>
             </div>
            <i class="fa-regular fa-message text-2xl text-gray-500"></i>
            <i class="fa-solid fa-share text-2xl text-gray-500"></i>
          </div>
        </div>
      </div>
    </div>
    
    
                
    
   </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  <script>
    const navbar = document.querySelector("#navbar");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 0 || document.documentElement.scrollTop > 0) {
        navbar.classList.add("fixed");
      } else {
        navbar.classList.remove("fixed");
      }
    });
  </script>
  <script type='module'>
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
    import { getFirestore, collection, addDoc, updateDoc, doc, arrayUnion, arrayRemove, onSnapshot ,deleteDoc} from "https://www.gstatic.com/firebasejs/10.1.0/firebase-firestore.js";
    const firebaseConfig = {
      apiKey: "AIzaSyDppLDCOXQE5zjyS_KaJ6-k1-jyS6qSRzM",
      authDomain: "upload-bf997.firebaseapp.com",
      projectId: "upload-bf997",
      storageBucket: "upload-bf997.appspot.com",
      messagingSenderId: "697464098245",
      appId: "1:697464098245:web:db49912b77afda789ccfac"
    };
    const fbApp = initializeApp(firebaseConfig);
    const db = getFirestore(fbApp);
    const app = Vue.createApp({
      data() {
        return {
          posts: []
        }
      },
      methods: {
        fetcher() {
          onSnapshot(collection(db, "posts"), (snapshot) =>
            this.posts = snapshot.docs.map((doc) => {
              return {
                id: doc.id,
                ...doc.data()
              }
            })
          );
        },
        toggleLike({id, likes}) {
          const docRef = doc(db, "posts", id);
          updateDoc(docRef, {
              likes: likes.includes('alsaif') ? arrayRemove('alsaif') : arrayUnion('alsaif')
            })
            .then(docRef => {
              console.log("A New Document Field has been added to an existing document");
            })
            .catch(error => {
              console.log(error);
            })
        },
        deletePost(id){
          const docRef = doc(db, "posts", id);

          deleteDoc(docRef)
           .then(() => {
           console.log("Entire Document has been deleted successfully.")
           })
          .catch(error => {
          console.log(error);
          })
        }
      },
      mounted() {
        this.fetcher()
      }
    })

    app.mount('#app')
  </script>
  <script src="src/index.js"></script>
</body>

</html>
