<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
   <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <style>
   .like-bg {
      background: #f7e1d0;
    }
  </style>
</head>

<body class="bg-gray-900">
  <div id="app">
     <div class="posts">
      <div class="post mb-2">
        <div class="px-4 py-4 bg-gray-900 shadow max-w-lg">
          <div class="flex mb-4">
            <img class="w-12 h-12 rounded-full" :src="post.profile" />
            <div class="ml-2 mt-0.5">
              <span class="block font-medium text-base leading-snug text-gray-300 dark:text-gray-100">{{post.name}}</span>
              <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug">{{post.date}} at {{post.time}}</span>
            </div>
            <div class="flex-1 text-right">
              <i class="bx bxs-trash text-2xl text-white" @click="deletePost(post.id)"></i>
              
            </div>
          </div>
          <p class="text-gray-300 dark:text-gray-100 leading-snug md:leading-normal">{{post.message}}</p>
          <div class="mt-2">
            <img :src="post.image" class="rounded w-full h-auto" />
          </div>
          <div class="flex gap-3 items-center mt-3">
            <div @click="toggleLike(post)" class="like-bg py-1 rounded-full px-4 flex items-center gap-3">
              <i v-if="likes.includes('alsaif')" class="bx bxs-heart text-2xl text-rose-400"></i>
              <i v-else class="bx bx-heart text-2xl text-rose-400"></i>
              <span class="text-md font-bold">{{likes.length}}</span>
            </div>
            <div class="py-1 rounded-full px-4 flex items-center gap-3" style="background: #a99dc2" @click='commentPost(post)'>
              <i class="bx bxs-message-square text-2xl text-gray-500" style="color: #7b5be3"></i>
              <span class="text-md font-bold">{{comments.length}}</span>
            </div>
          </div>
        </div>
        <hr class="bg-gray-800">
        <div class="w-full bg-gray-900 p-4">
          <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-white">Comments</h5>
          </div>
          <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
              <li v-for="comment in comments" class="py-3 sm:py-4">
                <div class="flex gap-3">
                  <div class="flex-shrink-0">
                    <img class="w-12 h-12 rounded-full" :src="comment.profile" alt="Neil image">
                  </div>
                  <div class=" bg-gray-700 p-2 rounded-lg">
                    <p class="text-sm font-medium  truncate text-white">
                      {{comment.name}}
                    </p>
                    <p class="text-sm font-medium text-gray-300 truncate">
                      {{comment.text}}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
              
    <div class="w-full h-24 bg-gray-900"></div>

    <div class="w-full flex gap-3 px-4 py-2 items-center fixed bottom-0 left-0 right-0 bg-gray-700 text-gray-300">
      <input ref="comInp" type="text" class="rounded-lg flex-1 bg-gray-900 text-white" placeholder="write a comment.." v-model="inpText">
      <button class="bg-blue-700 h-10 px-4 rounded-lg text-xl font-bold" @click="commentPost(post)">Send</button>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>


  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
    import { getFirestore, collection, addDoc, updateDoc, doc, arrayUnion, arrayRemove, onSnapshot, deleteDoc } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-firestore.js";
    const firebaseConfig = {
      apiKey: "AIzaSyDppLDCOXQE5zjyS_KaJ6-k1-jyS6qSRzM",
      authDomain: "upload-bf997.firebaseapp.com",
      projectId: "upload-bf997",
      storageBucket: "upload-bf997.appspot.com",
      messagingSenderId: "697464098245",
      appId: "1:697464098245:web:db49912b77afda789ccfac"
    };
    const fbApp = initializeApp(firebaseConfig);
    const db = getFirestore(fbApp);

    const app = Vue.createApp({
      data() {
        return {
          postId: '',
          post: {},
          inpText: '',
          likes: [],
          comments: []
        }
      },
      methods: {
        fetcher() {
          onSnapshot(collection(db, "posts"), (snapshot) => {
            this.post = snapshot.docs.map((doc) => {
              return {
                id: doc.id,
                ...doc.data()
              }
            }).find(post => post.id === this.postId)
            this.likes = this.post.likes;
            this.comments = this.post.comments;
            console.log(this.post.comments)
          });
        },
        toggleLike({ id, likes }) {
          const docRef = doc(db, "posts", id);
          updateDoc(docRef, {
              likes: likes.includes('alsaif') ? arrayRemove('alsaif') : arrayUnion('alsaif')
            })
            .then(docRef => {
              console.log("A New Document Field has been added to an existing document");
            })
            .catch(error => {
              console.log(error);
            })
        },
        commentPost({ id, name, profile, comments }) {

          const docRef = doc(db, "posts", id);
          if (this.inpText === '') return;
          updateDoc(docRef, {
              comments: [...comments, {
                name,
                profile,
                text: this.inpText
                      }]
            })
            .then(docRef => {
              console.log("A New Document Field has been added to an existing document");
              this.inpText = '';
            })
            .catch(error => {
              console.log(error);
            })
        },
        focusInput() {
          this.$refs.comInp.focus();
        }
      },
      mounted() {
        this.postId = localStorage.getItem('postId')
        this.fetcher()
        this.$refs.comInp.focus();
      }
    })

    app.mount('#app')
  </script>
  <script src="src/index.js"></script>
</body>

</html>
