<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="manifest" href="/manifest.json" />
  <style>
    .like-bg {
      background: #f7e1d0;
    }
  </style>
</head>

<body class="bg-gray-900">
  <div id="app">
    <div class="posts">
      <div class="post mb-2">
        <div class="px-4 py-4 bg-gray-900 shadow max-w-lg">
          <div class="flex justify-start gap-3 mb-2">
            <img class="w-12 h-12 rounded-full" :src="post.profile" />
            <div class="flex-1">
              <div class="flex items-center">
                <div class="mt-0.5">
                  <span class="block font-medium text-base leading-snug text-gray-300 dark:text-gray-100">{{post.name}}</span>
                  <span class="block text-sm text-gray-500 dark:text-gray-400 font-light leading-snug">{{post.date}} at {{post.time}}</span>
                </div>
                <div class="flex-1 text-right">
                  <i class="bx bxs-trash text-2xl text-white" @click="deletePost(post.id)"></i>
                  <i class='bx bx-share bx-flip-horizontal text-2xl text-white ml-3' @click="sharePost(post)"></i>
                </div>
              </div>
              <p class="text-gray-300 dark:text-gray-100 leading-snug md:leading-normal mt-3">{{post.message}}</p>
              <div class="mt-2">
                <video width="320" height="240" controls v-if="postUrlType.includes('video')"
                  class="rounded w-full h-auto">
                  <source :src="post.postUrl" type="video/mp4">
                </video>
                <img v-if="postUrlType.includes('image')" :src="post.postUrl" class="rounded w-full h-auto" @dblclick="toggleLike(post)" />
              </div>
              <div class="flex gap-3 items-center mt-3">
                <div @click="toggleLike(post)" class="flex items-center gap-1">
                  <i v-if="likes.includes('alsaif')" class="bx bxs-heart text-2xl text-rose-400"></i>
                  <i v-else class="bx bx-heart text-2xl text-rose-400"></i>
                  <span class="text-md text-white font-bold">{{likes.length}}</span>
                </div>
                <div class="flex items-center gap-1" @click='focusInput'>
                  <i class="bx bxs-message-square text-2xl text-gray-500" style="color: #7b5be3"></i>
                  <span class="text-md text-white font-bold">{{comments.length}}</span>
                </div>
                 <div class="flex items-center gap-1.5">
                  <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-eye-fill w-6 h-6 text-blue-500" aria-hidden="true" viewBox="0 0 16 16">
                    <path stroke="currentColor" d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path stroke="currentColor" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                  </svg>
                  <span class="text-md text-white font-bold">{{view.length}}</span>
                 </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full bg-gray-900 p-4">
          <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-white">Comments</h5>
          </div>
          <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
              <li v-for="comment in comments" class="py-3 sm:py-4">
                <div class="flex gap-3">
                  <div class="flex-shrink-0">
                    <img class="w-12 h-12 rounded-full" :src="comment.profile" alt="Neil image">
                  </div>
                  <div class=" bg-gray-700 p-2 rounded-lg">
                    <p class="text-sm font-medium  truncate text-white">
                      {{comment.name}}
                    </p>
                    <p class="text-sm font-medium text-gray-300">
                      {{comment.text}}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="w-full h-24 bg-gray-900"></div>

    <div class="w-full flex gap-3 px-4 py-2 items-center fixed bottom-0 left-0 right-0 bg-gray-700 text-gray-300">
      <img src="https://alsaifdev.github.io/images/profile.jpg" class="h-10 w-10 rounded-full" />
      <input ref="comInp" type="text" class="rounded-full flex-1 bg-gray-900 text-white h-10 pl-4 focus:border-0 focus:outline-0" placeholder="write a comment.." v-model="inpText" @keyup.enter="commentPost(post)">
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>


  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-app.js";
    import { getFirestore, collection, addDoc, updateDoc, doc, arrayUnion, arrayRemove, onSnapshot, deleteDoc } from "https://www.gstatic.com/firebasejs/10.1.0/firebase-firestore.js";
    const firebaseConfig = {
      apiKey: "AIzaSyDppLDCOXQE5zjyS_KaJ6-k1-jyS6qSRzM",
      authDomain: "upload-bf997.firebaseapp.com",
      projectId: "upload-bf997",
      storageBucket: "upload-bf997.appspot.com",
      messagingSenderId: "697464098245",
      appId: "1:697464098245:web:db49912b77afda789ccfac"
    };
    const fbApp = initializeApp(firebaseConfig);
    const db = getFirestore(fbApp);

    const app = Vue.createApp({
      data() {
        return {
          postId: '',
          post: {},
          inpText: '',
          likes: [],
          view : [],
          comments: [],
          postUrlType : ''
        }
      },
      methods: {
        fetcher() {
          onSnapshot(collection(db, "posts"), (snapshot) => {
            this.post = snapshot.docs.map((doc) => {
              return {
                id: doc.id,
                ...doc.data()
              }
            }).find(post => post.id === this.postId)
            this.likes = this.post.likes;
            this.comments = this.post.comments;
            this.view = this.post.view;
            this.postUrlType = this.post.postUrlType
          });
        },
        toggleLike({ id, likes }) {
          const docRef = doc(db, "posts", id);
          updateDoc(docRef, {
              likes: likes.includes('alsaif') ? arrayRemove('alsaif') : arrayUnion('alsaif')
            })
            .then(docRef => {
              console.log("A New Document Field has been added to an existing document");
            })
            .catch(error => {
              console.log(error);
            })
        },
        deletePost(id) {
          const docRef = doc(db, "posts", id);

          deleteDoc(docRef)
            .then(() => {
              console.log("Entire Document has been deleted successfully.")
              localStorage.removeItem('postId')
              history.back()
            })
            .catch(error => {
              console.log(error);
            })
        },
        commentPost({ id, name, profile, comments }) {

          const docRef = doc(db, "posts", id);
          if (this.inpText === '') return;
          updateDoc(docRef, {
              comments: [...comments, {
                name,
                profile,
                text: this.inpText
                      }]
            })
            .then(docRef => {
              console.log("A New Document Field has been added to an existing document");
              this.inpText = '';
            })
            .catch(error => {
              console.log(error);
            })
        },
        updateView(id) {
          const docRef = doc(db, "posts", id);
          updateDoc(docRef, {
              view: arrayUnion(crypto.randomUUID())
            })
            .then(docRef => {
              console.log("A New Document Field has been added to an existing document");
            })
            .catch(error => {
              console.log(error);
            })
        },
        focusInput() {
          this.$refs.comInp.focus();
        },
        sharePost({ message }) {
          if (navigator.share) {
            navigator.share({
                title: 'friendbook',
                text: message,
                url: location.href,
              })
              .then(() => console.log('Successful share'))
              .catch((error) => console.log('Error sharing', error));
          }
        }
      },
      mounted() {
        this.postId = localStorage.getItem('postId')
        this.fetcher()
        this.$refs.comInp.focus();
        this.updateView(this.postId)
      }
    })

    app.mount('#app')
  </script>
  <script src="src/index.js"></script>
</body>

</html>
